<div class="dash-menu">
  <div class="dash-menu-wrapper dash-wrapper">
    <div class="dash-main-nav">
      <div class="dash-main-logo-header">
        <div class="dash-main-logo-img"></div>
      </div>
      <ng-container>
        <div class="dash-main-nav-item">
          <a class="dash-main-nav-button" routerLink="theatres">Theatres</a>
        </div>
        <div class="dash-main-nav-item">
          <a class="dash-main-nav-button" routerLink="movies">Movies</a>
        </div>
        <div class="dash-main-nav-item">
          <a class="dash-main-nav-button" routerLink="movie-showings">Movie Showings</a>
        </div>
      </ng-container>
    </div>
  </div>
</div>
<div class="dash-header">
  <div class="dash-header-content">
    <div class="dash-header-wrapper dash-wrapper">
      <div class="dash-header-info">
        <div class="dash-info-content">
          <p class="dash-info-content-title">{{ title }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
