// PROGRESS BAR

.#{$class-prefix}-progress {
  &-bar {
    background-color: $color-blue-site;
    border-radius: 3px;
    height: 100%;
    transform-origin: left;
    width: 100%;

    &-wrapper {
      background: $color-gray-blue-2;
      border-radius: 3px;
      height: 10px;
      width: 100%;

      &.small {
        height: 6px;
      }
    }
  }
}
